:host ::ng-deep {
  .mat-mdc-text-field-wrapper {
    border-bottom: none !important;
    border-radius: 28px;
  }

  .mdc-line-ripple {
    display: none
  }

  .mat-mdc-form-field-bottom-align {
    display: none
  }
}