:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.login-card {

  .card-header {
    margin-bottom: 10px;
  }

  .login-card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}