:host ::ng-deep .line-chart {
  .line {
    stroke-width: 2px;
  }
  
  .axis-label {
    font-size: 14px;
  }
}

mat-dialog-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}