<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a  mat-tab-link
      routerLink="/parts"
      routerLinkActive #rlaParts="routerLinkActive"
      [active]="rlaParts.isActive">
    Запчасти
  </a>
  <a  mat-tab-link
      routerLink="/clients"
      routerLinkActive #rlaClients="routerLinkActive"
      [active]="rlaClients.isActive">
    Клиенты
  </a>
  <a  mat-tab-link
      routerLink="/orders"
      routerLinkActive #rlaOrders="routerLinkActive"
      [active]="rlaOrders.isActive">
    Заказы
  </a>
  <a  mat-tab-link
    routerLink="/popular-parts"
    routerLinkActive #rlaPopParts="routerLinkActive"
    [active]="rlaPopParts.isActive">
  Популярные запчасти
</a>
</nav>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>