<h2 mat-dialog-title>Создать пользователя</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="form">
    <div class="form-row">
      <mat-form-field>
        <mat-label>Имя пользователя</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Роль</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role === 'user' ? 'Пользователь' : 'Администратор' }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input matInput formControlName="secondName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Отчество</mat-label>
        <input matInput formControlName="thirdName">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Возраст</mat-label>
        <input matInput formControlName="age">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Пол</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender === 'm' ? 'Мужской' : 'Женский' }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>Номер телефона</mat-label>
        <input matInput formControlName="phoneNumber">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button
      color="primary"
      [disabled]="isSavingDisable()"
      (click)="createClient()">
    Создать
  </button>
</mat-dialog-actions>