<header class="main">
  <div class="logo">
    <mat-icon class="icon">directions_car</mat-icon>
    <h1 class="logo-text">СибЧасти</h1>
  </div>

  <div class="header-search">
    <mat-form-field class="search">
      <mat-label>Поиск по товарам</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="header-action">
    <h2 class="action-text">Daniil</h2>
  </div>
</header>

<div class="main-block">
  <router-outlet></router-outlet>
</div>

<footer class="main">
  <p>2024 SibChasti. Все права защищены.</p>
  <a href="#">Политика конфиденциальности</a>
  <a href="#">Связаться с нами</a>
  <div class="logo">
    <mat-icon class="icon">directions_car</mat-icon>
    <h1 class="logo-text">СибЧасти</h1>
  </div>
</footer>
