:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;

  p {
    margin: 0;
  }

  .header-action {
    display: flex;
    flex-direction: row;
    align-items: center;

    .action-text {
      margin: 0;
      color: #5856D6
    }
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo-text {
      margin: 0;
      color: #5856D6
    }
  }

  .icon {
    width: 5vh;
    height: 5vh;
    font-size: 5vh;
    color: #5856D6
  }
}

.main-block {
  height: 100%;
  overflow: scroll;
}
