:host {
  flex-grow: 2;
}

.cart {
  min-height: 96%;
  background: #fff;
  margin: 10px 0;
  padding: 10px 20px;

  .cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .table-container {
    margin-bottom: 10px;

    .action-part {
      display: flex;
      align-items: center;
      gap: 5px;

      button {
        margin: 0;
      }
    }

    .table-img {
      width: 90px;
      height: 90px;

      img {
        width: inherit;
        height: inherit;
      }
    }
  }

  .cart-actions {
    padding: 0 16px;

    button {
      min-width: 100%;
    }
  }
}