@use '@angular/material' as mat;
@use "./typography/config" as config;

$my-app-light-theme: mat.define-light-theme(
  (
    // rest remains same
    typography: config.$my-app-typography // <-- added
  )
);

@include mat.typography-hierarchy(config.$my-app-typography);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F5F5F5;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

  .form-field {
    padding: 5px 0;

    .mat-mdc-text-field-wrapper {
      border-bottom: none !important;
      border-radius: 28px;
    }
  
    .mdc-line-ripple {
      display: none
    }
  
    .mat-mdc-form-field-bottom-align {
      display: none
   }
  }

.spinner-container {
  mat-spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
  }
}

.filter {
  width: 100vw;
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.toolbar {
  margin: 0 10px;
}

.mdc-text-field--filled {
  --mdc-filled-text-field-container-color: #ECE6F0;
}
